@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a {
    font-size: 30px;
    color: white;
    padding: 15px 30px;
}

header .logo a span {
    color: orange;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover {
    border-bottom: 2px solid white;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("https://zupimages.net/up/23/25/1xm9.png");
    background-position: center; /* change ici */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content h2 {
    font-size: 32px;
    padding: 5px;
    color: white;
}

.content p {
    font-size: 22px;
    color: white;
}

body {
    background-color: #2F2F2F; /* Dark gray */
}

/* Commande */

.commande {
    background-color: #3F3F3F;
    width: 100%;
}

.commande .commande-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #4F4F4F;
}

/***************************************************************************************************/
/******************************************** HISTOIRE *********************************************/
/***************************************************************************************************/
.delivery-text h1 {
    margin-bottom: 1em; /* Adds a margin below the title */
}

.delivery-text {
    width: 80%; /* Reduce the width of the text container to 80% */
    padding-left: 10%; /* Add padding to the left to shift the text */
    padding-right: 10%; /* Add padding to the right to shift the text */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group .container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.delivery-img img {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column !important; /* Elements will stack in a column on smaller screens */
    }

    .delivery-text {
        padding: 20px 0; /* adjusts the padding for a better display on mobile */
    }

    .delivery-img img {
        width: 100%; /* adjusts the width of the image for a better display on mobile */
    }
}

/***************************************************************************************************/
/******************************************* SEPARATION ********************************************/
/***************************************************************************************************/

.separator {
    border: none;
    border-top: 2px solid orange;
    width: 80%; /* Adjust to your needs */
    margin: 20px auto; /* Centers the line and add a vertical space before and after */
}


/* Shop */

/* Footer */

/* Responsive */

@media(max-width: 992px) {

    /* Header */

    header {
        flex-direction: column;
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    }

    header nav ul li a {
        font-size: 16px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 18px;
    }
}

@media(max-width: 500px) {

    /* header */

    header {
        height: 130px;
    }

    header .logo a {
        font-size: 23px;
    }

    header nav ul li a {
        font-size: 13px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }


    /* Content */

    .content h2 {
        font-size: 23px;
    }

    .content p {
        font-size: 16px;
    }


    /* footer */

}


@media(max-width: 410px) {

    /* header */

    header {
        height: 120px;
    }

    header .logo a {
        font-size: 20px;
        color: white;
        padding: 15px 30px;
    }

    header nav ul li a {
        font-size: 12px;
        flex-direction: column;
        display: inline-block;
        margin-top: 10px;
        color: white;
        padding: 5px 5px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    /* content */

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 13px;
    }

}

/* */

.commande-selector {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commande-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.commande-button:hover {
    background-color: white;
    color: black;
}

.commande-button.active {
    background-color: green;
    color: white;
}

/**/

.coming-soon {
    text-align: center;
    padding: 50px;
    color: white;
    background: #3F3F3F;
}

.coming-soon h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.coming-soon p {
    font-size: 24px;
}
